<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/flat-ui.css">
    <link rel="stylesheet" href="/stylesheets/valeria.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="page-header span12">
          <h1><a href="/">Valéria <small>Image Finder</small></a></h1>
        </div>
      </div>
      {{{yield}}}
    </div>
  </body>
</html>
