
<hgroup class="row">
<h2 class="span5">Ola!<br />Vamos buscar imagens?</h2>
<h3 class="span7">Valeria é um projeto que te ajuda a encontrar os <strong>endereço das imagens</strong> em uma página da internet!</h3>
</hgroup>

<form action="/q" method="get">
<fieldset>
<legend>Vamos começar!</legend>
<label for="target-url">Digite o endereço da página imagens</label>
<input id="target-url" name="target[url]" type="text" placeholder="" class="span12">
<button type="submit" class="btn btn-success pull-right">Buscar Imagens</button>
</fieldset>
</form>

